<table class="table table-hover">
    <thead>
        <tr>
            <th>Game Name</th>
            <th>Platform</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{game.game}}</td>
            <td>{{game.platform}}</td>
            <td>{{game.release}}</td>
        </tr>
    </tbody>
</table>

<div class="well well-lg">
    Selected Row : <strong>{{selectedRow}}</strong>
</div>