.container{
    width: 100%;
}


.dropdown-menu .divider {
    height: 1px;
    margin: 8.5px 0;
    overflow: hidden;
    position: fixed;
    background-color: #e5e5e5;
  }

/* .opacity{background-color: rgba(223, 236, 169, 0.39); opacity: 0.9;}  */
.opacity{background-color: rgb(246, 244, 183);}


.Menuhide{
    display:none;  
  }






/* ============================Mega Mneu Start============================= */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
  font-family: 'Open Sans',sans-serif;
  /* 'Lato', sans-serif; */
  font-weight:300;
  padding-top: 0px;

}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 7px 20px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #E8EDF4;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #DBE2B0;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 13px;
  
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}




.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 1px;
  /* overflow: visible !important; */
  background-color: #31465a;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

/* ======================================================================== */




.disabled {
  pointer-events:none; /* This makes it not clickable */
  opacity:0.6;         /* This grays it out to look disabled*/
}


hr {
  margin-top: 6px;
  margin-bottom: 11px;
  border: 0;
  border-top: 1px solid #ecf0f1;
}




body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


