<app-header></app-header>

<router-outlet></router-outlet>


<!-- <div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-8">
                    <footer class="footer navbar-fixed-bottom">
                            2018 © HNBA-IT
                    </footer>
            </div>
        </div>
    </div>
</div> -->

<footer class="footer navbar-fixed-bottom">
        2018 © HNBA-IT
</footer>

<!-- <span class="float: right">2018 © HNBA Commission and Incentive Management System HNBA-IT</span>

<footer class="footer navbar-fixed-bottom">
        Footer 
      </footer> -->