<div class={{isLoading}}>
</div>





<div class="row">
  <div class="col-sm-8">
    <h1 class="content-subhead">Refund requested transactions.....</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <!-- <div class="well">
        <div class="row"> -->
    <!-- <table class="table vitamins"> -->
    <table class="table table-striped table-hover " id="myTable1">
      <thead>
        <tr>
          <th>View</th>
          <th style="display:none;">RFD_PROPOSAL_NO</th>
          <th>PROPOSAL NO</th>
          <th>REFUND_DATE</th>
          <th>REFUND AMOUNT</th>
          <th>REFUND REASON</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let RFD of RefundList | paginate: {itemsPerPage:5 , currentPage:page, id: 'two'}; let i = index" [class.active]="i == selectedRow"
          (click)="GetRefundRelatedCheque(RFD.RfdId,i);">

          <td><a href="javascript:void(0)">View</a></td>


          <td style="display:none;">
            {{RFD.RfdId}}
          </td>
          <td>
            {{RFD.RfdProposalNo}}
          </td>
          <td>
            {{RFD.RfdRefundDate}}
          </td>
          <td>
            {{RFD.RfdAmt}}
          </td>
          <td>
            {{RFD.RfdReason}}
          </td>
        </tr>
      </tbody>

    </table>
    <pagination-controls (pageChange)="page = $event" id="two" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
    <!-- </div>
      </div> -->
  </div>



</div>




<div class="row">
  <div class="col-sm-10">
    <h1 class="content-subhead">Approval required Cheque related transactions.....
      <label><span>[Please select records you need to approve, none selected records will be taking as rejects]</span> </label>
    </h1>

    <!-- <label><span>Please select records you need to approve, none selected records will be taking as rejects...</span> </label> -->

  </div>
  <div class="col-sm-2">
    <button type="button" [disabled]="isSAVEDisabled" (click)="UpdateRecords()" class="btn orange-flat-button">Confirm</button>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <!-- <div class="well">
      <div class="row"> -->
    <!-- <table class="table vitamins"> -->
    <table class="table table-striped table-hover " id="myTable2">
      <thead>
        <tr>
          <th>STATUS</th>
          <th style="display:none;">RFD_RECEIPT_NO</th>
          <th>RECEIPT_NUMBER</th>
          <th>CHEQUE_NO</th>
          <th>PV NUMBER</th>
          <th>REFUND DATE</th>
          <th>REFUND TYPE</th>
          <th>REFUND AMOUNT</th>
          <th>REFUND_BY</th>
          <th>REFUND REASON</th>
          <th>REFUND AGENT CODE</th>

        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let CH of ChequeList | paginate: {itemsPerPage:10 , currentPage:page, id: 'one'}; let i = index" (click)="setREFUNDReceiptNo(i,CH.RfdReceiptNo,CH.RfdId,CH.RfdProposalNo,CH.RfdAmt);"> -->

        <tr *ngFor="let CH of ChequeList | paginate: {itemsPerPage:10 , currentPage:page1, id: 'one'}; let i = index">

          <!-- <td>
            <input class="largerCheckbox" type="checkbox" on="OnChangeCheckbox(this)" [checked]="CH.State" ngControl="Refund" [(ngModel)]="CH.selected">
          </td> -->

          <td>
            <select class="form-control" [(ngModel)]="CH.selected">
                  <option value="select">Select</option>
                  <option value="approve">Approve</option>
                  <option value="reject">Reject</option>
                </select>
          </td>

          <td style="display:none;">
            {{CH.RfdId}}
          </td>
          <td>
            {{CH.RfdReceiptNo}}
          </td>
          <td>
            {{CH.RfdPaymentMTD}}
          </td>
          <td>
            {{CH.RfdPvNo}}
          </td>
          <td>
            {{CH.RfdRefundDate}}
          </td>
          <td>
            {{CH.RfdType}}
          </td>
          <td>
            {{CH.RfdAmt}}
          </td>
          <td>
            {{CH.RfdBy}}
          </td>
          <td>
            {{CH.RfdReason}}
          </td>
          <td>
            {{CH.RfdAgtCode}}
          </td>

        </tr>
      </tbody>

    </table>
    <pagination-controls (pageChange)="page = onPaginateChange$event" id="one" maxSize="10" directionLinks="true" autoHide="true">
    </pagination-controls>

    
    <!-- </div>
    </div> -->
  </div>
</div>