<div class="row">
  <div class="form-group">
  </div>
</div>
<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1 class="content-subhead">Month End Process</h1>
  </div>
</div>


<div class="row">

  <div class="col-sm-12">

    <div class="col-sm-3">
      <button type="button" [disabled]="isNEWDisabled" (click)="NewRecord()" class="btn orange-flat-button">New Record</button>
    </div>

    <!-- <div class="col-sm-3">
      <button type="button" [disabled]="isEDITDisabled" (click)="EditRecord()" class="btn orange-flat-button">Edit Record</button>
    </div>
    <div class="col-sm-3">
      <button type="button" [disabled]="isSAVEDisabled" (click)="SaveRecord()" class="btn orange-flat-button">Save Record</button>
    </div>
    <div class="col-sm-3">
      <button type="button" [disabled]="isCANCELDisabled" (click)="CancelRecord()" class="btn orange-flat-button">Cancel Record</button>
    </div> -->

  </div>
</div>

<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">
  <div class="form-group">
  </div>
</div>
<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <h1 class="content-subhead">Commission Calculation Process</h1>
    </div>
  </div>

<div class="row">

  <div class="col-sm-12">

    <div class="col-sm-3">
      <button type="button" [disabled]="isNEWDisabled" (click)="NewRecord()" class="btn orange-flat-button">Commission Process</button>
    </div>
    <div class="col-sm-3">
      <button type="button" [disabled]="isEDITDisabled" (click)="EditRecord()" class="btn orange-flat-button">Overriding Process</button>
    </div>
    <div class="col-sm-3">
      <button type="button" [disabled]="isSAVEDisabled" (click)="SaveRecord()" class="btn orange-flat-button">Accrued Process</button>
    </div>
    <!-- <div class="col-sm-3">
      <button type="button" [disabled]="isCANCELDisabled" (click)="CancelRecord()" class="btn orange-flat-button">Cancel Record</button>
    </div> -->

  </div>
</div>


<div class="row">
    <div class="form-group">
    </div>
  </div>
  
  <div class="row">
    <div class="form-group">
    </div>
  </div>
  <div class="row">
    <div class="form-group">
    </div>
  </div>
  
  <div class="row">
      <div class="col-sm-12">
        <h1 class="content-subhead">Batch Process</h1>
      </div>
    </div>
  
  <div class="row">
  
    <div class="col-sm-12">
  
      <div class="col-sm-3">
        <button type="button" [disabled]="isNEWDisabled" (click)="NewRecord()" class="btn orange-flat-button">Receipt Upload Batch</button>
      </div>
      <div class="col-sm-3">
        <button type="button" [disabled]="isEDITDisabled" (click)="EditRecord()" class="btn orange-flat-button">Refund Upload Batch</button>
      </div>
      <div class="col-sm-3">
        <button type="button" [disabled]="isSAVEDisabled" (click)="SaveRecord()" class="btn orange-flat-button">Income Transfer Batch</button>
      </div>

  
    </div>
  </div>